
@using PMISBLayer.Entities

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a class="btn btn-outline-primary" href="/PaymentTerm/NewPaymentTerm">Create New PaymentTerm</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Phase Name</th>
                            <th>Delivrable Disc</th>
                            <th>Payment Term Title</th>
                            <th>Payment Term Amount</th>
                            <th>Edit/Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pt in (List<PaymentTerm>)ViewBag.PaymentTerm)
                        {
                            <tr>
                                <td>@pt.Deliverable.ProjectPhase.Project.ProjectName</td>
                                <td>@pt.Deliverable.ProjectPhase.Phase.PhaseName</td>
                                <td>@pt.Deliverable.DeliverableDescription</td>
                                <td>@pt.PaymentTermTitle</td>
                                <td>@pt.PaymentTermAmount</td>
                                <td>
                                    <a class="btn btn-outline-warning" href="/PaymentTerm/EditPaymentTerm?PaymentTermId=@pt.PaymentTermId"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="btn btn-outline-danger" href="/PaymentTerm/DeletePaymentTerm?PaymentTermId=@pt.PaymentTermId"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/b-2.2.3/fc-4.1.0/sc-2.0.6/sb-1.3.3/sp-2.0.1/sl-1.4.0/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/b-2.2.3/fc-4.1.0/sc-2.0.6/sb-1.3.3/sp-2.0.1/sl-1.4.0/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}


